<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Career </title>
	<style>
		h1{
			font-size: 40px;
			font-family: Roboto;
			font-weight: normal;
			color: rgb(100, 100, 210);
			text-align: center;
		}
		#banner{
			width: 100%;
			height: 360px;
			object-fit: cover;
		}

		h2{
			font-family: Roboto;
			font-size: 32px;
			color: rgb(100)100, 100);
			text-align: center;
			font-weight: normal;
			
		}
		.bodytext{
			font-family: Roboto;
			color: rgb(80, 80, 80);
		}
		#container{
			max-width: 720px
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<div id="container">
	<h1>Hello Dear you will learn about Job opening in your career</h1>
	<img id="banner" src="static/saulo-mohana-wNz7_5EvUWU-unsplash.jpg" height="300" >
	<h2>About My Career</h2>
	<p class="bobytext">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec luctus lectus, tincidunt tincidunt sem. Morbi vel finibus mauris. Aliquam sollicitudin euismod hendrerit. Suspendisse mollis quis turpis euismod pellentesque. Maecenas non dapibus quam. Nullam nec facilisis tortor. Aliquam eu diam id nisl egestas pharetra a vitae libero. Etiam purus sapien, tincidunt vulputate tellus et, tincidunt tempor magna. Maecenas tincidunt libero ac libero ornare, in iaculis sem scelerisque. Nullam id libero tempus, sollicitudin ligula quis, tincidunt ligula. Aliquam at est libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent commodo sed eros nec pellentesque. Donec sollicitudin, urna ac aliquet ultricies, leo arcu sollicitudin enim, et vestibulum urna sem quis orci. Praesent non libero sit amet ligula eleifend vestibulum. Vivamus iaculis aliquam congue.
	</p>
	<h2>Open Positions</h2>
	<p class="bobytext">TODO - show the jobs here</p>
		<div style="text-align:center;">
	<button>Contact Us</button>
			<p>&copy  Copyright 2023, Eze</p>
		</div>
</body>
</html>